body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #792534 50%, #212b4e 50%);
  color: #fff; /* Todo el texto será blanco */
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: transparent;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero {
  text-align: center;
  color: #fff;
}
.hero h1 {
  margin: 10px 0 4px;
}

.fechas {
  margin: 0;
  color: #ccc;
  font-style: italic;
}

.containerdeimagenes {
  text-align: center;
}

.foto {
  display: inline-block;
  margin: 10px 18px;
  text-align: center;
}

.foto img {
  max-width: 100%;
  height: auto;
  border: 6px solid #fff;
  outline: 2px solid #fff;
  border-radius: 8px;
}

.texto {
  text-align: justify;
  line-height: 1.7;
  font-size: 1.05rem;
  color: #fff; /* Asegura que el texto sea blanco */
  margin: 20px 0;  
  border: 2px solid #dfba2b;
  padding: 10px;
  border-radius: 8px;
}

.video-centro {
  text-align: center;
  padding: 12px;
}


.audio,
.video-centro { 
  margin-top: 18px; 
  text-align: center; 
}
audio { width: 100%; max-width: 500px; }

.nav-centro {
  text-align: center;
}

.nav-centro a {
  color: #dfba2b;
  text-decoration: none;  
}
.nav-centro a:hover {
  text-decoration: underline;
}

.tabla-centro table {
  width: 100%; /* Hace que la tabla ocupe todo el ancho disponible */
  table-layout: auto; /* Ajusta las celdas automáticamente según el contenido */
}

.tabla-centro th, .tabla-centro td {
  padding: 10px;
  word-wrap: break-word;
  white-space: normal;
  max-width: 250px;
}

.titulo-centro,
.lista-centro { 
  text-align: center; 
  margin-top: 40px;
}
.tabla-centro table { 
  margin: 0 auto; 
}

.lista-centro { 
  display: inline-block; text-align: left; 
}

